* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 51vw bottom 36vh, left 51vw top 50vh;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

h3,
h4 {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

span,
p {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
}

.card-top img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.profile-pic {
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 35%;
}

.name-age-address {
  margin-top: 4rem;
}
.name-age-address p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
hr {
  color: hsl(227, 10%, 46%);
  margin-top: 1.5rem;
}
.card-bottom {
  display: flex;
  justify-content: space-around;
}

.social-stats {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.social-stats h4 {
  margin-bottom: 0.5rem;
}
.social-stats p {
  font-size: 0.8rem;
}

@media (max-width: 375px) {
  .card {
    width: calc(100vw - 12%);
    overflow-x: hidden;
  }
}
